STAGING_HOST_PORT=1433
MASTER_HOST_PORT=5432
WAREHOUSE_HOST_PORT=5433

STAGING_DB=imunisasi
STAGING_USER=sa
STAGING_SA_PASSWORD=DefaultPassword123!
STAGING_PID=Developer

MASTER_DB=imunisasi
MASTER_USER=postgres
MASTER_PASSWORD=postgres

WAREHOUSE_DB=imunisasi
WAREHOUSE_USER=postgres
WAREHOUSE_PASSWORD=postgres

FRONTEND_HOST_PORT=5173
